body {
  margin: 0;
  padding: 0;
  font: 78% "Lucida Sans Grande",Verdana,sans-serif,clean;
  color: #9c9c9c;
}

body > div {
  margin: 0 30px;
  width: 87%;
  max-width: 600px;
}

.header:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
}

h1 {
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 2px;
  color: #4c4c4c;
  margin: 10px 0 20px;
}

a {
  color: #5879a8;
  background: #e0e0e0;
  text-decoration: none;
  padding: 2px;
}

ul#sort-menu li {
  float: left;
  list-style: none;
  margin-left: 20px;
}

ul#sort-menu {
  margin: 0 0 20px;
  padding: 0;
}

ul#sort-menu:after {
  content:".";
  height: 0px;
  visibility: hidden;
  clear: both;
  display: block;
}

.meta a, .meta a:hover {
  background: transparent;
}

a:hover {
  color: #2727b4;
  background: #c0c0c0;
}

.content {
  line-height: 22px;
}

p {
  margin: 20px 0;
}

div.dialog-buttons a, div.dialog-buttons input[type=submit] {
  margin-right: 12px;
}

.tweet {
  margin: 10px 0;
  font-size: 16px;
}

.meta {
  color: #4a4a4a;
  font-size: 10px;
}

.meta .author {
  font-size: 18px;
  font-weight: bold;
}

.meta > * {
  margin-right: 10px;
}

.tweet img {
  float: right;
  margin-left: 20px;
  border: 1px solid black;
}

.content {
  color: black;
}

.tweet:after {
  display: block;
  content: ".";
  clear: both;
  visibility: hidden;
  height: 0;
}

.tweet {
  background: #eee;
  border: 1px solid #ddd;
  padding: 12px;
}

.left {
  float: left;
}

.message {
  background: #f0f0c8;
  padding: 5px;
  font-style: italic;
}

footer p {
  margin: 30px 0;
  border-top: 1px dashed #bbb;
  padding-top: 30px;
  font-size: 10px;
  text-align: right;
}

hr {
  display: none;
}
