.squeeze {
  margin: 20px auto;
  width: 720px;
}

body {
  font-family: lucida sans grande, verdana, sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
}

header {
  width: 240px;
  font-family: helvetica, arial, serif;
  padding: 0 32px;
}

h1 {
  font-size: 84px;
  margin: 0;
  color: #acd;
  font-weight: normal;
  letter-spacing: -4px;
}

h2 {
  font-size: 13px;
  margin: -20px 0 0 6px;
  color: #aaa;
  font-weight: normal;
  letter-spacing: -.6px;
}

p {
  font-size: 18px;
  color: #777;
  line-height: 20px;
}

.left {
  float: left;
}

strong {
  color: #000;
  font-weight: bold;
}

.search {
  margin: 12px 0 0;
  text-align: center;
  background: #556;
  padding: 12px 32px 12px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.search p {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

em {
  font-weight: bold;
  color: #c42;
  font-style: normal;
}

input[type*=text], input[type*=submit] {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  border: 0;
}

input[type*=text] {
  text-transform: uppercase;
  margin: 1px;
  width: 80%;
  float: left;
  background: transparent;
  font-weight: bold;
}

input[type*=text]:focus {
  outline: 0;
}

input[type*=submit] {
  margin: 1px;
  padding: 2px 0;
  width: 12%;
  background: #000;
  text-transform: lowercase;
  font-style: italic;
  font-weight: bold;
  font-family: garamond;
  color: #668;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: right;
}

input[type*=submit]:focus, input[type*=submit]:hover {
  color: #c8c8dd;
  background: #448;
}

.search .inputs {
  margin: 12px auto;
  background: #acd;
  width: 320px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.clearfix:after {
  content:".";
  display: block;
  visibility: hidden;
  height: 0; 
  clear: both;
}

.explanation {
  margin: 0;
  padding: 28px 32px 28px 304px;
  letter-spacing: -.1em;
  line-height: 22px;
  font-size: 18px;
  background: #eee;
  -moz-border-radius: 0 20px 20px 20px;
  -webkit-border-radius: 0 20px;
  border-radius: 0 20px;
}

footer {
  display: block;
  background: #000;
  color: #888;
  text-align: right;
  padding: 12px 0;
}

footer a {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
}
