<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>e-drop | what everyone's talking about</title>
  <link href="/css/screen.css" rel="stylesheet" media="screen"/>
  <link href="/css/mobile.css" rel="stylesheet"
    media="only screen and (max-device-width: 480px)"/>
  <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.utils.min.js"></script>
  {% block head %}{% endblock head %}
</head>

<body>
<div class="squeeze">

  <header>
    <hgroup class="left">
    {% if is_front %}
      <h1><span>e&sdot;drop</span></h1>
    {% else %}
      <h1><a href="/">e&sdot;drop</a></h1>
    {% endif %}
      <h2>What everyone's talking about.</h2>
    </hgroup>

    <p class="preamble clearfix">
      <strong>e-drop is a topic tracker.</strong><br/>
      It is an <i>eavesdropper</i>. Type a <em>topic</em> into the search to find
      out what people are saying about it.
    </p>
  </header>

  {% for message in messages %}
    <p class="message">{{ message }}</p>
  {% endfor %}

  {% block content %}{% endblock content %}

  <footer>
    <span class="author">by <a title="Neuman Vong" href="http://twitter.com/luciferous">luciferous</a></span>
  </footer>

</div>

<script type="text/javascript">
  if (/^http:\/\/e-drop.appspot.com/.test(document.location)) {
    var gaJsHost = (
        ("https:" == document.location.protocol) ?
        "https://ssl." : "http://www."
        );
    document.write(
        unescape(
          "%3Cscript src='" + 
          gaJsHost + 
          "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"
          )
        );
  }
</script>
<script type="text/javascript">
  try {
    if (/^http:\/\/e-drop.appspot.com/.test(document.location)) {
      var pageTracker = _gat._getTracker("UA-1275933-7");
      pageTracker._trackPageview();
    }
  } catch(err) {}</script>

</body>
</html>
