{% if tweets %}
  {% for tweet in tweets %}
  <div class="tweet">
    <img src="{{ tweet.pic_url }}" alt="Picture of {{ tweet.author }}"
    height="48" width="48"/>
    <span class="content">{{ tweet.content|urlize }}</span>
    <p class="meta">
      <span class="author">{{ tweet.author }}</span>
      <span class="submitted">{{ tweet.created_at|timesince }} ago</span>
      <a href="{{ tweet.source_url }}">View original</a>
    </p>
  </div>
  {% endfor %}

  <p>{{ topic.name }} has remained interesting for
  {{ topic.created_at|timesince }} since
  {{ topic.created_at|date:"d M Y" }}.</p>
{% else %}
<p>Nobody has talked about <strong>{{ topic.name|escape }}</strong> since we
started eavesdropping {{ topic.created_at|timesince }} ago.</p>
{% endif %}
