<link rel="alternate" type="application/rss+xml" title="{{ topic.name|escape }} (RSS)" href="http://e-drop.appspot.com{{ request_path}}.rss"/>

<script type="text/html" id="tweet_template">
  <article class="clearfix">
    <header><img src="<%=pic_url%>" alt="<%=author%>"/></header>
    <p><%=content%></p>
    <footer>
      <p><%=author%> <a href="<%=source_url%>">
      <time datetime="<%=created_at%>" pubdate><%=created_at%></time></a></p>
    </footer>
  </article>
</script>

<script type="text/javascript">
  $(function() {
    var jsonURL = document.location.pathname + ".json" + document.location.search;
    var info = $("#tweets>p");
    var render = (function(){
      var _render = tmpl("tweet_template");
      var markScreenames = function(content){
        return content.replace(/@(\w+)/g, "<a href=\"http://twitter.com/$1\">@$1</a>");
      };
      var markURLs = function(content){
        return content.replace(
          /(((http|https|ftp|gopher)|mailto):(\/\/)?[^ <>"\t]*|(www|ftp)[0-9]?\.[-a-z0-9.]+)[^ .,;\t\n\r<">\):]?[^, <>"\t]*[^ .,;\t\n\r<">\):]/,
          "<a href=\"$1\">$1</a>"
        );
      };
      return function(item){
        return _render($.extend(item, { content: markScreenames(markURLs(item.content)) }));
      };
    })();
    var fadeRemove = function(item){
      return item.fadeOut("slow", function(){ $(this).remove(); });
    }
    var slideDownContinue = function(item, cont){
      item.slideDown("slow");
      item.animate({ opacity: 1 }, "slow", cont);
    }
    var display = function(items){
      if (items.length == 0) return;
      var articles = $("#tweets article");
      var newItem = $(render(items.pop()));
      if (articles.size() > 9) fadeRemove(articles.eq(9));
      newItem.css({ display:"none", opacity:0 }).prependTo("#tweets");
      newItem.find("time").timeago();
      slideDownContinue(newItem, function(){ display(items); });
    };
    var intervalID = setInterval(function(){
      $.getJSON(jsonURL, function(data){
        if (data.length == 0) return;
        var articles = $("#tweets article");
        if (articles.size() > 0) {
          var id = articles.find("footer a")[0].href.split("/").pop();
          var newIndex = $.map(data, function(t){ return t.source_id; }).indexOf(id);
          if (newIndex > -1) data = data.slice(0, newIndex);
        } else {
          info.fadeOut();
        }
        display(data);
      });
    }, 50000);

    $("time").timeago();
  });
</script>
